body.home-page {
    background-Image: none;
    background-color: #0f375e;
    background-Position: center;
    background-Repeat: no-repeat;
    background-Size: 100%;
    background-Attachment: fixed;
}