body.home-page {
    background-Image: url('../../public/BLogoLS.png');
    background-Position: center;
    background-Repeat: no-repeat;
    background-Size: 100%;
    background-Attachment: fixed;
}