*{
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background: black;    /* Add seperatly as it clashes with background of home page */
}

.Title{
    width: 300px;
    height: 100px;
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 30px #ff0000, 0 0 50px #ff0000;
    color: rgb(255, 162, 0);
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
    margin-left: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.Nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 10px;
    right: 70px;
    
    border: 2px solid rgb(255, 162, 0);
    box-shadow: 0 0 5px rgb(255, 162, 0), 0 0 20px rgb(255, 162, 0), 0 0 40px rgb(255, 162, 0);
    background: black;
}
.Nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: bold;
    background: black;
}
.Nav ul li:last-child{
    margin-right: 20px;
}
.Nav ul li:first-child{
    margin-left: 0;
}
.Nav ul li a {
    text-decoration: none;
}
.Nav ul li a:hover{
    color: rgb(255, 162, 0);
    text-shadow: 0 0 10px rgb(255, 162, 0);
}

.Admin{
    width: 500px;
    height: 250px;
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00, 0 0 50px #00ff00;
    color: #0ff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 6%;
    margin-left: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: black;
}
.Admin p{
    font-size: 20px;
    background: black;
}

.AddMovie{
    margin-top: 9%;
    display: flex;
    align-items: center;
    width: 97%;
    height: 80vh;
    border: 2px solid #fffb00;
    box-shadow: 0 0 10px #fffb00, 0 0 30px #fffb00, 0 0 50px #fffb00;
    border-radius: 20px;
}
.AddMovie-left{
    flex-basis: 30%;
}
.AddMovie-left h2{
    margin-left: 15%;
    margin-bottom: 70%;
    font-size: 30px;
}
.AddMovie-right{
    flex-basis: 55%;
}

form input, form textarea{
    width:90%;
    border:0;
    outline:none;
    border-radius:6px;
    padding:15px;
    margin:15px 0;
    font-size:18px;
    background:#262626;
    color:white;
}
button {
    margin-top: 3%;
    background-color: black;
    color: rgb(255, 162, 0); /* Neon Pink */
    border: 2px solid rgb(255, 162, 0);
    padding: 15px 30px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(255, 162, 0), 0 0 20px rgb(255, 162, 0), 0 0 40px rgb(255, 162, 0);
    transition: all 0.3s ease-in-out;
}
  
button:hover {
    box-shadow: 0 0 10px rgb(255, 162, 0), 0 0 30px rgb(255, 162, 0), 0 0 60px rgb(255, 162, 0);
    text-shadow: 0 0 10px rgb(255, 162, 0);
}

/* For Displaying Movie Section as they are long */
.DisplayMovie{
    margin-top: 9%;
    display: flex;
    align-items: center;
    width: 97%;
    height: 100vh;
    border: 2px solid #fffb00;
    box-shadow: 0 0 10px #fffb00, 0 0 30px #fffb00, 0 0 50px #fffb00;
    border-radius: 20px;
}
.DisplayMovie-left{
    flex-basis: 25%;
}
.DisplayMovie-left h2{
    margin-left: 15%;
    margin-bottom: 70%;
    font-size: 30px;
}
.DisplayMovie-right{
    flex-basis: 73%;
}

/* The styling of row and columns of Table */
.MovieTable{
    border: 1px solid white;
    width: 100%;
    height: 50vh;
}
.MovieTable thead tr th{
    border: 1px solid white;
    padding: 10px;
}
.MovieTable tbody tr td{
    border: 1px solid white;
    padding: 10px;
    width: 10px;
    text-align: center;
}

.home-background{
    background-image: url('https://images.unsplash.com/photo-1643553517154-24eb7fd86437?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: absolute;
}

.theater-background{
    background-image: url('https://images.unsplash.com/photo-1653853301139-f57c5fdc069a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: absolute;
}